body {
  background-color: #070606;
  color: #FFFFFF;
  font-family: 'Raleway';
  padding: 40px;
}

h1 {
  font-size: 60px;
  font-weight: 600;
  max-width: 600px;
  margin-bottom: 20px;
}

p {
  color: #BDBDBD;
  font-size: 18px;
  max-width: 500px;
  line-height: 150%;
  margin-bottom: 30px;
}

button {
  background-color: #2B892E;
  color: #FFFFFF;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  margin-bottom: 80px;
}